@use "../global" as *;
@use "sass:map";

#page-top {
  position: fixed;
  z-index: map.get($layer, "floating");
  bottom: 40px;
  right: 20px;
  @include mq("sm") {
    bottom: 97px;
    right: 10px;
  }
}
/*リンクの形状*/
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/icon-footer-totop.svg) no-repeat center center/cover;
  width: 52px;
  height: 52px;
  text-decoration: none;
  transition: all 0.3s;
}
