@use "../global" as *;
@use "sass:map";

.p-room {
  margin-top: 80px;
  padding-bottom: 66px;
  @include mq("sm") {
    margin-top: 90px;
    padding-bottom: 43px;
  }
}

.p-room__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-room__title {
  text-align: center;
  position: relative;
  display: inline-block;
  font-family: $ff-accent-ja_01;
  font-size: 40px;
  line-height: normal;
  letter-spacing: 1.2px;
  @include mq("sm") {
    font-size: 24px;
    letter-spacing: 0;
  }
  &::before {
    content: "";
    width: 33px;
    height: 53px;
    position: absolute;
    background: url(/img/icon-title-deco_left@2x.png) no-repeat center center / cover;
    left: -49px;
    top: 4px;
    @include mq("sm") {
      left: -33px;
      top: -1px;
      width: 24.922px;
      height: 40px;
    }
  }
  &::after {
    content: "";
    width: 33px;
    height: 53px;
    position: absolute;
    background: url(/img/icon-title-deco_right@2x.png) no-repeat center center / cover;
    right: -49px;
    top: 4px;
    @include mq("sm") {
      width: 24.906px;
      height: 40px;
      right: -33px;
      top: -1px;
    }
  }
}

.p-room__subtitle {
  margin-top: 40px;
  @include mq("sm") {
    margin-top: 35px;
  }
  p {
    text-align: center;
    font-size: 18px;
    line-height: 170%; /* 30.6px */
    letter-spacing: 0.54px;
    @include mq("sm") {
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0px;
    }
  }
}

.p-room__main {
  margin-top: 26px;
  max-width: 1440px;
  width: 100%;
  margin-inline: auto;
  overflow-x: hidden;
  height: 340px;
  @include mq("sm") {
    margin-top: 39px;
    height: 206px;
  }
}

.p-room__swiper {
  height: inherit;
  display: flex;
  align-items: center;
}

.p-room {
  .swiper-wrapper {
    display: flex;
    align-items: center;
    height: inherit;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
  }
}

.p-room__swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s;
  width: rm(480);
  transform: scale(0.666666);
  @include mq("sm") {
    width: 300px;
    width: rm(300);
  }
  img {
    height: auto;
    width: 100%;
  }
}

.swiper-slide[class*="-active"] {
  .p-room__swiper-slide {
    transform: scale(1);
    z-index: 1; /* 中央のスライドを一番上にする */
    @include mq("sm") {
      transform: none;
    }
  }
}
