@use "../global" as *;
@use "sass:map";

.p-voice {
  padding-top: 79px;
  padding-bottom: 134px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Blue, #f4fbfd);
  @include mq("sm") {
    padding-top: 42px;
    padding-bottom: 69px;
  }
}

.p-voice__inner {
  margin-inline: auto;
  max-width: 1280px;
  width: calc(100% - 15px * 2);
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq("sm") {
    width: 100%;
    padding: 0;
  }
}

.p-voice__title {
  font-family: $ff-accent-ja_01;
    font-size: 40px;
    line-height: normal;
    letter-spacing: 1.2px;    
  text-align: center;
  position: relative;
  display: inline-block;
  @include mq("sm") {
      font-size: 24px;
      letter-spacing: 0;
    }
  &::before {
    content: "";
    width: 33px;
    height: 53px;
    position: absolute;
    background: url(/img/icon-title-deco_left@2x.png) no-repeat center center / cover;
    left: -49px;
    top: 4px;
    @include mq("sm") {
      left: -33px;
      top: -1px;
      width: 24.922px;
      height: 40px;
    }
  }
  &::after {
    content: "";
    width: 33px;
    height: 53px;
    position: absolute;
    background: url(/img/icon-title-deco_right@2x.png) no-repeat center center / cover;
    right: -49px;
    top: 4px;
    @include mq("sm") {
      width: 24.906px;
      height: 40px;
      right: -33px;
      top: -1px;
    }
  }
}

.p-voice__main {
  max-width: 1130px;
  width: 100%;
  padding-left: 69px;
  padding-right: 69px;
  position: relative;
  z-index: map.get($layer, "default");
  margin-top: 80px;

  @include mq("lg") {
    // max-width: 820px;
  }

  @include mq("md") {
    max-width: 820px;
  }

  @include mq("sm") {
    max-width: 500px;
    width: calc(100% - 42px);
    padding: 0;
    margin-top: 51px;
  }
}

.p-voice__swiper {
  max-width: 992px;
  width: 100%;
  margin-inline: auto;
  overflow-x: hidden;
  z-index: map.get($layer, "default");
  @include mq("sm") {
    max-width: 500px;
  }
}

.p-voice {
  .swiper-wrapper {
    display: flex;
  }

  .swiper-slide {
    display: flex;
  }
}

.p-voice__swiper-slide {
  // align-self: center; /* 上下の中央揃え */
  align-self: start; /* 上下の中央揃え */
  margin-inline: auto;
  border-radius: 16px 16px 16px 16px;
  background: $bg-primary;
  overflow: hidden;
  position: relative;
  max-width: 320px;
  @include mq("sm") {
    width: 234px;
    border-radius: 11.8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.p-voice__swiper-img {
  width: 320px;
  @include mq("sm") {
    width: 234px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.p-voice__swiper-body {
  padding: 16px;
  @include mq("sm") {
    padding-top: 13px;
    padding-bottom: 9px;
    padding-left: 11px;
    padding-right: 11px;
  }
}

.p-voice__swiper-title {
  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.75; /* 30.6px */
    letter-spacing: 0.54px;
    @include mq("sm") {
      font-size: 15px;
      line-height: 1.47;
      letter-spacing: 0;
    }
  }
}

/*アコーディオンで現れるエリア*/
.p-voice__swiper-text {
  display: none; /*はじめは非表示*/
  margin-top: 16px;
  @include mq("sm") {
    margin-top: 23px;
  }
  p {
    text-align: justify;
    font-size: 16px;
    line-height: 170%; /* 27.2px */
    // letter-spacing: 0.48px;
    letter-spacing: 0.7px;
    @include mq("sm") {
      letter-spacing: 0;
      line-height: 1.43;
    }
  }
}

.p-voice__swiper-profile {
  margin-top: 32.5px;
  @include mq("sm") {
    margin-top: 22.5px;
  }
  font-size: 16px;
  line-height: 170%; /* 27.2px */
  letter-spacing: 0.48px;
  @include mq("sm") {
    font-size: 11.755px;
  }
  span {
    letter-spacing: 0.4px;
    margin-left: 2px;
    @include mq("sm") {
      letter-spacing: 0;
      margin-left: -1px;
    }
  }
}

.p-voice__swiper-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  background: url(/img/voice-icon-open.svg) no-repeat center center/cover;
  bottom: 19px;
  right: 13px;
  transition: all 0.3s ease;
  @include mq("sm") {
    width: 16px;
    height: 16px;
    bottom: 12px;
    right: 11px;
  }
}
.p-voice__swiper-btn:hover {
  opacity: 0.5;
}

.p-voice__swiper-btn.close {
  background: url(/img/voice-icon-close.svg) no-repeat center center/cover;
  transition: all 0.3s ease;
}
.p-voice__swiper-btn.close:hover {
  opacity: 0.5;
}
//表示されていないスライドにフォーカスがあたらないようにする
.p-voice {
  .swiper-slide {
    visibility: hidden;
    &.swiper-slide-visible {
      visibility: visible;
    }
  }

  // ==============================
  //     navigation について
  // ==============================
  .swiper-button-prev {
    //位置はここで指定
    width: 30px;
    height: 30px;
    left: 0;
    top: calc(50% + 6px);
    transform: translateY(-50%);
    @include mq("sm") {
      left: 3px;
      top: calc(50% + 7px);
    }
    &::after {
      content: ""; //デフォルトの削除
      width: 29px;
      height: 29px;
      background: url(/img/icon-prev.svg) no-repeat center center/cover;
    }
  }

  .swiper-button-next {
    //位置はここで指定
    // top: 50%;
    // transform: translateY(-50%);
    width: 30px;
    height: 30px;
    right: 0;
    top: calc(50% + 6px);
    transform: translateY(-50%);
    @include mq("sm") {
      right: 3px;
      top: calc(50% + 8px);
    }
    &::after {
      content: ""; //デフォルトの削除
      width: 29px;
      height: 29px;
      background: url(/img/icon-next.svg) no-repeat center center/cover;
    }
  }
  // ============================
  //     pagination について
  // ============================
  //色と大きさ指定
  .swiper-pagination-bullet {
    opacity: 1;
    background: #b6b7b7;
    width: 8px;
    height: 8px;
    border-radius: 50%; //円にする
    @include mq("sm") {
      width: 12px;
      height: 12px;
    }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: $color-secondary;
  }
  //paginationの余白指定
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
    @include mq("sm") {
      margin: 0 8px;
    }
  }
  //paginationの位置

  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    position: absolute;
    bottom: -63px;
    left: 50%;
    transform: translateX(-50%);
    @include mq("sm") {
      bottom: -37px;
    }
  }
}
